/* Desafio 1 */
html body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

.navbar {
  width: 100%;
  position: fixed;
  background-color: green;
  top: 0;
}

.main {
  margin: 5px;
}

.box {
  display: inline-block;
  height: 100px;
  width: 23%;
  padding: 5px;
  /* border: 2px solid #808080; */
}

.box img {
  width: 60%;
  text-align: center;
}

/* Desafio 2 */

.square {
  height: 200px;
  width: 200px;
}

.square__red {
  background-color: rgba(255, 0, 0, 0.5);
  position: absolute;
  z-index: 3;
}

.square__green {
  background-color: rgba(0, 255, 0, 0.5);
  left: 25px;
  position: absolute;
  top: 25px;
  z-index: 2;
}

.square__blue {
  background-color: rgba(0, 0, 255, 0.5);
  left: 50px;
  position: absolute;
  top: 50px;
  z-index: 1;
}

/* Desafio 3 */

.banderas1,
.banderas2 {
  width: 100%;
}

/* Bandera España */

.espana,
.dinamarca,
.emiratos-arabes,
.japon {
  width: 700px;
  display: inline-block;
}

.espana1 {
  background-color: red;
  height: 100px;
}

.espana2 {
  background-color: yellow;
  height: 200px;
}

.espana3 {
  background-color: red;
  height: 100px;
}

/* Bandera Dinamarca */

.dinamarca__content1,
.dinamarca__content2 {
  display: inline-block;
}
.dinamarca1 {
  background-color: red;
  width: 170px;
  height: 170px;
  margin-bottom: 60px;
  margin-right: 60px;
}

.dinamarca2 {
  background-color: red;
  width: 170px;
  height: 170px;
  margin-top: 60px;
  margin-right: 60px;
}

.dinamarca3 {
  background-color: red;
  width: 450px;
  height: 170px;
  margin-bottom: 60px;
}

.dinamarca4 {
  background-color: red;
  width: 450px;
  height: 170px;
  margin-top: 60px;
}

/* Bandera Emiratos Árabes */

.emiratos-arabes__content1,
.emiratos-arabes__content2 {
  display: inline-block;
}

.emiratos-arabes1 {
  background-color: red;
  width: 100px;
  height: 400px;
}

.emiratos-arabes2 {
  background-color: green;
  width: 595px;
  height: 133px;
}

.emiratos-arabes3 {
  background-color: white;
  width: 595px;
  height: 133px;
}

.emiratos-arabes4 {
  background-color: black;
  width: 595px;
  height: 133px;
}

/* Bandera Japón */

.japon__content {
  border: 1px solid black;
}

.japon1 {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: red;
  position: relative;
  left: 43%;
  margin: 125px 0;
}

/* Desafio 4 */

.main-f4 {
  background-color: #b0ccab;
  padding: 50px;
}
​​ .main-f4__paragraph {
  left: 40px;
  position: fixed;
}

/* Desafio 5 */

.item {
  position: absolute;
}

.ribbon {
  position: relative;
  top: 0;
  left: 0;
}

/* Desafio 6 */

.item6 {
  position: absolute;
}

.ribbon6 {
  position: relative;
  right: -140px;
  bottom: -140px;
  width: 70px;
}

/* Desafio 7 */

.img-d7 {
  position: relative;
  top: 0;
  float: right;
}
